<h1> showing the selected article</h1>

<p>TITLE : <%= @article.title%></p>


<p>Description : <%= @article.desc%></p>

<p>
<%= link_to "<<Back to List", articles_path%></p>

<p>
<%= link_to "EDIT", edit_article_path(@article)      %> </p>